<div class="row">
    <div class="card main">
        <div class="side-column">
            <img src="../assets/images/passport-photo-square.jpg" alt="Profile image">
        </div>
        <div class="main-column">
            <h1>Antonio Marcone</h1>
            <h2>Front end developer</h2>
            <h2>Game developer</h2>
            <h2>Writer</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="side-column">
        <div class="card contacts">
            <h2>Contacts</h2>
            <ul class="main-list">
                <li class="card">
                    <a href="mailto:antonio.marcone@proton.me">
                        antonio.marcone@proton.me
                    </a>
                </li>
                <li class="card">
                    <a href="https://github.com/amarcone42">
                        <img class="social-icon" src="../assets/images/github-icon.svg" alt="GitHub profile">
                        GitHub
                    </a>
                </li>
                <li class="card">
                    <a href="https://amarcone42.itch.io">
                        <img class="social-icon" src="../assets/images/itchio-logo.svg" alt="Itch.io profile">
                        Itch.io
                    </a>
                </li>
                <li class="card">
                    <a href="https://www.twitter.com/amarcone42">
                        <img class="social-icon" src="../assets/images/twitter-logo.svg" alt="Twitter profile">
                        Twitter
                    </a>
                </li>
                <li class="card">
                    <a href="https://bsky.app/profile/amarcone.it">
                        <img class="social-icon" src="../assets/images/bluesky-logos.svg" alt="Bluesky profile">
                        Bluesky
                    </a>
                </li>
                <li class="card">
                    <a href="https://www.instagram.com/amarcone42">
                        <img class="social-icon" src="../assets/images/instagram-icon.svg" alt="Instagram profile">
                        Instagram
                    </a>
                </li>
                <li class="card">
                    <a href="https://www.linkedin.com/in/amarcone42/">
                        <img class="social-icon" src="../assets/images/linkedin-icon.png" alt="Linkedin profile">
                        Linkedin
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-column">
        <div class="card about-me">
            <h2>About me</h2>
            <p>
                Creative and curious computer science student with high attention to details, curious to learn and try new experiences. 
                Skilled in front end development, game design and writing.
            </p>
            <p>
                Passionate about movies, art and travel. I'm interested in photography and philosophy.
            </p>
        </div>
        
        <div class="card skills">
            <h2>Skills and tools</h2>
            <ul class="main-list">
                <li class="card">
                    <h3>Coding</h3> 
                    <p>I've some experiences with programming languages like C, C#, Java and tools like Visual Studio and Eclipse</p>
                </li>
                <li class="card">
                    <h3>Front end development</h3>                    
                    <p>I have also some experience in UI/UX design in Figma and web development with HTML5, CSS3 and SASS, JavaScript, React and Next.js</p>
                </li>
                <li class="card">
                    <h3>Game development</h3> 
                    <p>Unity and Godot are my main game engines, with some experience in GDScript</p>
                </li>
            </ul>
        </div>
        <div class="card education">
            <h2>Education</h2>
            <ul class="main-list">
                <li class="card">
                    <h3>Bachelor's Degree in Computer Science</h3>
                    <p>University of Salerno</p>
                    <p>2020 - ongoing</p>
                </li>
                <li class="card">
                    <h3>Cambridge English Level 1 Certificate In ESOL International (first)</h3>
                    <p>Cambridge Assessments</p>
                    <p>2018</p>
                </li>
                <li class="card">
                    <h3>High school diploma in applied sciences</h3>
                    <p>Galileo Galilei Scientific High School, Naples</p>
                    <p>2013 - 2019</p>
                </li>
            </ul>
        </div>
    </div>
</div>