<div class="bento-grid">
    <div class="bento-card xl main">
        <img src="assets/images/profile-icon.png" alt="Profile image">
        <div>
            <h2>Antonio Marcone</h2>
            <p><span class="title">@amarcone42</span></p>
            <p>Developer, creative, student.</p>
        </div>
    </div>
    
    <div class="bento-card m">
        <h3>Social link</h3>
        <p>My main accounts</p>
    </div>


    <div class="bento-card m">
        <div>
            <h3>Why you should not use WhatsApp</h3>
            <p>Read more...</p>
        </div>
    </div>

    <div class="bento-card m">
        <div>
            <h3>The simple yet powerful math we don't talk about</h3>
            <p>Read more...</p>
        </div>
    </div>

    <div class="bento-card xl">
        <img src="assets/images/sunfallstories-cover.png" alt="Game cover">
        <div>
            <h3>Sunfall Stories</h3>
            <p>Game prototype developed during the Cyberpunk Game Jam 2024</p>
        </div>
    </div>

    <div class="bento-card xl">
        <img src="assets/images/agora-hires-logo-white.png" alt="Agorà project icon">
        <div>
            <h3>Agorà</h3>
            <p>Human-machine interaction exam project</p>
        </div>
    </div>


    <div class="bento-card xl">
        <img src="assets/images/chemo_icon.png" alt="Chemo project image">
        <div>
            <h3>Chemo</h3>
            <p>Software Engineering exam project</p>
        </div>
    </div>

    
    

    <!--
    <div class="bento-card s">
        <h3>Post: Tertiary</h3>
    </div>
    <div class="bento-card s">
        <h3>Post: Tertiary</h3>
    </div>
    -->

    

</div>
