---
layout: default
---
<div class="work {{ page.type | escape }}">

  <header class="work-header">
    <h1 class="work-title">{{ page.title | escape }}</h1>
  </header>

  <div class="work-content">
    {{ content }}
  </div>
  {% if page.title != "Works"  %}
  <a id="top-link" class="top-link" href="#top" title="Go to top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
      <path d="M12 6H0l6-6z"></path>
    </svg>
  </a>
  <script src="{{ base.url | prepend: site.url }}/assets/js/scroll.js"></script>
  {% endif %}

</div>
