/*

CSS Style for index.html page

*/

#main-title {
    font-family: 'Libre Bodoni', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Silkscreen', cursive;
    font-weight: bold;
}

.main-card {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    color: var(--main-color);
    background: var(--accent-color);
}

.skill-card {
    font-family: 'Silkscreen', cursive;
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--light-text);
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-card .icon {
    width: auto;
    height: 80px;
}
.skill-card .label {
    margin: auto;
    margin-bottom: 0px;
}

.work-card {
    margin: 10px auto 10px auto;
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--light-text);
    background: var(--secondary-color);
}
.work-card:hover {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 10px 0 var(--shadow-color);
}
.work-card img {
    margin-bottom: 20px;
    width: 260px;
    height: 160px;
    border-radius: 20px;
}
.work-card .title {
    margin: auto 0 0 0;
}
.work-card p {
    margin: 0;
}

#info-card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-card p {
    color: var(--light-text);
}

#page-content {
    color: var(--light-text);
    background: var(--main-color);
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#info-links {
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#info-links a {
    text-decoration: none;
}
.button-icon {
    margin-right: 5px;
}
#info-links img {
    width: 32px;
    height: 32px;
    filter: invert(96%) sepia(15%) saturate(901%) hue-rotate(40deg) brightness(137%) contrast(92%);
}
#info-links button {
    margin-top: 10px;
    color: var(--light-text);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info-pic {
    margin: auto;
}
#info-pic img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.wrap-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Responsive media queries */
@media (540px <= width < 720px) {
    #info-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #info-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (width >= 720px) {
    #info-card {
        display: flex;
        flex-direction: row-reverse;
    }
    #info-pic {
        margin-left: auto;
        margin-right: 0;
    }
    #info-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #info-links button {
        margin-top: 0;
        margin-right: 10px;
    }
    
}
