/* 

Base style used in the website

*/

/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colours used in the website */
:root {
    /*Basic colours used in the website*/
    --main-color: #272825;
    --main-color-light: #073765;    /*Used for hover*/
    --main-color-dark: #00284d;     /*Used for inactive elements*/
    --accent-color: #BA372E;
    --accent-color-light: #0e62b6;  /*Used for hover*/
    --accent-color-dark: #014993;   /*Used for inactive elements*/
    --secondary-color: #333430;
    --secondary-color-light: #686f7c;
    --secondary-color-dark: #38444F;
    --contrast-color: #FFFFFF;
    /*Colours for text*/
    --light-text: #F5F5F0;
    --medium-text: #5A6772;
    --dark-text: #1C2024;
    /*Colours fot shadows and transparent elements*/
    --shadow-color: rgba(0, 0, 0, 0.1);
    --accent-shadow-color: rgba(0, 89, 179, 0.2);
    --transparent: rgba(0, 0, 0, 0);
    /*Colours fot status*/
    --avaliable: #099f09;
    --unavaliable: #9d0b0b;
    --warning: #ffff4b;
    --warning-text: #727224;
    --danger: #9d0b0b;
    --danger-text: #4f0606;
}

/* Main page components */
body {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    font-family: 'Source Code Pro', monospace;
    color: var(--light-text);
    background: var(--main-color);
}

.title {
    color: var(--accent-color);
    font-family: 'Libre Bodoni', serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Silkscreen', cursive;
}

button {
    padding: 10px;
    border: 0;
    border-radius: 20px !important;
    color: var(--accent-color);
    background: var(--main-color);
}

.section {
    margin-top: 20px;
    width: 640px;
}


